@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
    --color-red: #ff0000;
    --color-light-gray: #ccc;
    --color-mid-gray: #999;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

html {
  font-family: "Work Sans", sans-serif;
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.button {
  background: #7d32ef;
  border: 1px solid #8f55e6;
  border-radius: 4px;
  padding: 8px;
  color: white;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="url"] {
  border: 1px solid #fff;
  border-radius: 4px;
  color: #333;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.9);
}

input[type="text"].inputPill {
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  padding: 8px 16px;
}

input[type="text"].inputPill:focus {
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

input:disabled {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: #666;
}
